/**
 * Jazzy-Frontend
 * 
 * Styles for loader component.
 */

.loader {
    text-align: center;
    &.loader-small {
        img {
            width: 64px;
            height: 64px;
        }
    }
}