/**
 * Jazzy-Frontend
 * 
 * Styles for UserWidget component - the one that
 * represents "logged in" user in top-right corner.
 */

.user-widget {
    display: flex;
    align-items: center;
    .user-widget-avatar {
        margin-right: 10px;
    }
    .user-widget-details {
        .user-widget-name {
            font-size: 0.8em;
            font-weight: bold;
        }
        .user-widget-role {
            font-size: 0.75rem;
            margin-top: 3px;
        }
    }
}